<a href="https://colab.research.google.com/github/bnnogueira/python_exs/blob/main/Exercicios02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aqui v√£o 10 exerc√≠cios pr√°ticos para voc√™ treinar an√°lise de dados com essa planilha no Python (pandas e numpy):

üßÆ Estat√≠stica e explora√ß√£o de dados

    1 - Exiba as 5 primeiras e 5 √∫ltimas linhas do DataFrame. - ‚úÖ

    2 - Mostre o total de vendas (Valor Final) de todo o per√≠odo. - ‚úÖ

    3 - Calcule a m√©dia, mediana e desvio-padr√£o dos valores finais. - ‚úÖ

    4 - Descubra qual produto teve a maior e a menor quantidade vendida. - ‚úÖ

    5 - Liste os 5 produtos mais vendidos (em quantidade total). - ‚úÖ

üìÜ An√°lise temporal

    6 - Agrupe as vendas por m√™s e calcule o total de ‚ÄúValor Final‚Äù por m√™s.

    7 - Identifique o m√™s com o maior e o menor faturamento.

    8 - Crie um gr√°fico de linha mostrando a evolu√ß√£o do faturamento mensal.

üè¨ Compara√ß√£o entre lojas

    9 - Calcule o total de vendas por loja (ID Loja) e descubra qual mais vendeu.

    10 - Mostre o produto mais vendido em cada loja.

In [ ]:
# Importando bibliotecas
import pandas as pd
import numpy as np
from rich.jupyter import display

In [ ]:
# Lendo arquivo e transformando a tabela em um Dataframe
vendas_lojas = pd.read_excel('Vendas.xlsx')
table = pd.DataFrame(vendas_lojas)

In [ ]:
# Visualizando as cinco primeiras e cinco √∫ltimas linhas do DataFrame
print(table.head(5))
print(table.tail(5))

   C√≥digo Venda       Data             ID Loja         Produto  Quantidade  \
0             1 2019-01-01  Iguatemi Esplanada  Sapato Estampa           1
1             1 2019-01-01  Iguatemi Esplanada        Camiseta           2
2             1 2019-01-01  Iguatemi Esplanada   Sapato Xadrez           1
3             2 2019-01-02      Norte Shopping         Rel√≥gio           3
4             2 2019-01-02      Norte Shopping    Chinelo Liso           1

   Valor Unit√°rio  Valor Final
0             358          358
1             180          360
2             368          368
3             200          600
4              71           71
       C√≥digo Venda       Data              ID Loja            Produto  \
93905         65012 2019-11-30  Shopping Vila Velha     Mochila Xadrez
93906         65013 2019-11-30    Ribeir√£o Shopping  Pulseira Listrado
93907         65013 2019-11-30    Ribeir√£o Shopping     Cueca Listrado
93908         65014 2019-11-30     Shopping Morumbi     Pulseira Linho
93909         65014 2019-11-30     Shopping Morumbi      Casaco Xadrez

       Quantidade  Valor Unit√°rio  Valor Final
93905           2             283          566
93906           2              79          158
93907           3              67          201
93908           5             114          570
93909           4             259         1036

In [ ]:
# Visualizando o valor total de vendas
vendas_totais = table['Valor Final'].sum()
print(f"\nValor total de vendas de todas as filiais: R${vendas_totais}\n")

Valor total de vendas de todas as filiais: R$38959752

In [ ]:
# Calculando a m√©dia, mediana e o desvio padr√£o
mean_vendas = table['Valor Final'].mean()
median_vendas = table['Valor Final'].median()
std_vendas = table['Valor Final'].std(ddof=0)
print(f"M√©dia: {mean_vendas:.2f}\n")
print(f"Mediana: {median_vendas}\n")
print(f"Desvio Padr√£o: {std_vendas:.2f}\n")

M√©dia: 414.86

Mediana: 274.0

Desvio Padr√£o: 434.84

In [ ]:
# Calculando o produto mais vendido
more_sales = table.groupby('Produto')['Quantidade'].sum()
top_one = more_sales.idxmax()
print(f"Produto mais vendido: {top_one}")
print(f"Quantidade: {more_sales[top_one]}\n")

Produto mais vendido: Bermuda Linho
Quantidade: 1893

In [ ]:
# Calculando os cinco mais vendidos
top_five = table.groupby('Produto')['Quantidade'].sum().sort_values(ascending=False).head(5)
print(f"Cinco produtos mais vendidos: {top_five}\n")

Cinco produtos mais vendidos: Produto
Bermuda Linho    1893
Mochila Liso     1868
Short            1844
Casaco Liso      1840
Cueca            1837
Name: Quantidade, dtype: int64

In [ ]:
# Calculando as vendas por m√™s
table['ValorMes'] = table['Data'].dt.to_period('M')
vendas_mensais = table.groupby('ValorMes')['Valor Final'].sum()
print(f"Vendas mensais: {vendas_mensais}")

Vendas mensais: ValorMes
2019-01    3466475
2019-02    3277556
2019-03    3645476
2019-04    3553712
2019-05    3606569
2019-06    3543010
2019-07    3626556
2019-08    3549014
2019-09    3494615
2019-10    3653183
2019-11    3543586
Freq: M, Name: Valor Final, dtype: int64